.fable
.ionide
.idea
node_modules
paket-files
packages
**/[Bb]in/
**/[Oo]bj
.fake
.fake/fcswatch/port.cache
Build
packages-microsoft-prod.deb
csr.pem
https.config
https.crt
https.pfx
key.pem
devCert.pfx
devCert.txt
devCert.crt
/.vs/Scrutiny
